BorderPane {
    -fx-background-color: #4f4f4f;
    -fx-background-image: url("background.jpg");
    -fx-background-size: 600 400;
    -fx-background-position: center center;
}
AnchorPane {
    -fx-background-color: rgba(77, 77, 77, 0.74);
}

Label, CheckBox {
    -fx-text-fill: white;
}

ChoiceBox {
    -fx-background-color: #939393;
}

Button {
    -fx-background-color: #d2d2d2;
    -fx-cursor: hand;
}

Button:hover, CheckBox:hover {
    -fx-background-color: #9a9a9a;
}